* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

nav {
  display: none;
}

header {
  height: 30vh;
}

main {
  width: 100%;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a2a5aa;
  min-height: 200px;
}

section:nth-child(even) {
  background-color: #ddd;
}

.languages {
  height: 10vh;
}

.lang-container {
  display: flex;
  justify-content: space-between;
}

.lang {
  height: 30px;
  width: 30%;
  display: flex;
  border: 2px black solid;
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  display: block;
  overflow: hidden;
}

.projects-container .project {
  width: 100%;
  height: 400px;
  text-align: center;
  display: block;
}

.projects-container .project img {
  width: 90%;
  max-height: 300px;
  max-width: 450px;
  margin: 5px 5px 0 5px;
}

.project-desc {
  width: 90%;
  margin: auto;
  height: 250px;
}


/*tablet view*/
@media screen and (min-width: 768px) {
  nav {
    display: inline-block;
    padding-top: 20px;
    background-color: #838993;
    min-height: 50px;
    width: 100%;
  }

  .projects-container {
    display: inline-block;
  }

  .projects-container .project {
    width: 95%;
    height: 400px;
    text-align: center;
    display: flex;
  }

  .projects-container .project img {
    width: 90%;
    height: auto;
    margin: 5px;
    justify-content: flex-start;
  }

  .project .project-desc {

  }
}
